<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>

    <div style="margin: 15% 40%;">
        <h1>欢迎登录！</h1>
       <form action="/login/" method="post">
           {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
           {% endif %}
           {% csrf_token %}

           {{ login_form }}

           <div>
               <a href="/register/"><ins> 注册账号 </ins></a>
               <input type="submit" value="确定">
           </div>

        </form>
    </div>

</body>
</html>